* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 80px 1fr 100px;

  background-color: #050505;
  color: #e4e4e4;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 15px;

  min-height: 50vh;

  margin-top: 30px;
}

/* ---------- HEADER SECTION STYLING ---------- */
header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.page-title {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
}

nav {
  grid-column: 5/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button-section {
  grid-column: 3/4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;

  background-color: transparent;
  border-radius: 7px;
  border: 2px solid #2c2c2c;
  color: #cecece;

  padding: 7px 10px;
  transition: all 0.25s;
  cursor: pointer;
}

#new-btn:hover,
#new-btn:active {
  background-color: #2c2c2c;
  border: 2px solid #3e3e3e;
  box-shadow: 0 0 8px #4c4c4c;
}

/* ---------- BOOK SECTION STYLING ---------- */
.book-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 10px;
  background-color: #0b0b0b;
  border: 2px solid transparent;
  height: 350px;
  border-radius: 20px;

  transition: all 0.25s ease-in-out;

  overflow-wrap: break-word;
}

.book-sect:hover {
  box-shadow: 0 0 10px 0 #333;
  border: 2px solid #1e1e1e;
}

#book-title {
  margin-bottom: 20px;

  font-size: 32px;
  text-align: center;
}

#book-author {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
  color: #d4d4d4;
}

.book-info {
  font-size: 14px;
  color: #b6b6b6;
}

#status-btn {
  margin-top: 5px;
  padding: 5px 7px;

  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  background: none;
  border: 2px solid #1c1c1c;
  border-radius: 7px;

  color: #bbbbbb;

  transition: all 0.3s ease-in-out;
}

#status-btn:hover {
  background-color: #1b1b1b;
  border: 2px solid #1f1f1f;
  color: #eee;
  cursor: pointer;
}

#del-btn {
  margin-top: 15px;
  padding: 5px 7px;

  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  background: none;
  border: 2px solid #1e1e1e;
  border-radius: 7px;

  color: #bbbbbb;

  transition: all 0.3s ease-in-out;
}

#del-btn:hover {
  background-color: #b80000;
  border: 2px solid #e25252;
  color: #eee;
  cursor: pointer;
}

#lib-empty {
  grid-column: 1/-1;
  text-align: center;
}

/* ---------- DIALOG STYLING ---------- */
.new-book-dialog {
  margin: 25vh auto;

  padding: 20px 40px;

  background-color: #0f0f0f;
  color: #e4e4e4;

  border: 2px solid #1f1f1f;
  border-radius: 20px;
}

::backdrop {
  background-color: #1c1c1c;
  opacity: 0.75;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dialog-title {
  margin-bottom: 30px;

  font-size: 32px;
}

.form-input-sect {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px 10px;
  justify-content: center;
  align-items: center;
}

dialog label {
  justify-self: center;

  font-size: 20px;
}

input {
  padding: 2px 4px;
  font-family: inherit;

  font-size: 20px;
  text-align: center;

  background-color: transparent;
  color: #cecece;

  border-radius: 8px;
  border: 2px solid #1f1f1f;

  transition: all 0.2s;
}

input:hover {
  border: 2px solid #2f2f2f;
}

input:focus {
  border: 2px solid #3f3f3f;
  outline: none;
}

.form-button-sect {
  margin-top: 50px;
}

.form-checkbox-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 20px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #3f3f3f;
}

.form-button-sect {
  display: flex;
  gap: 30px;
}

#confirm-btn,
#cancel-btn {
  background-color: transparent;
  color: #b7b7b7;

  font-family: inherit;
  font-size: 16px;

  padding: 5px 7px;
  border-radius: 7px;

  transition: all 0.25s;
}

#confirm-btn {
  border: 2px solid #369e369d;
}
#cancel-btn {
  border: 2px solid #5900009d;
}

#confirm-btn:hover,
#confirm-btn:active {
  border: 2px solid #00cc00;
  background-color: #00a300;
  color: white;
}
#cancel-btn:hover,
#cancel-btn:active {
  border: 2px solid #b30000;
  background-color: #8f0000;
  color: white;
}


/* ---------- DIALOG STYLING ---------- */
footer{
  text-align: center;
  margin-top: 40px;

  color: #1f1f1f;
  font-size: 14px;
}

a:visited, a:link{
  color: #2c2c2c;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

a:hover, a:active{
  color: #7f7f7f;
}